body {
  padding-top: 20px;
}

a:hover {
  text-decoration: none;
}

.footer {
  border-top: 1px solid #eee;
  padding: 20px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
}

#logo {
	width: 48px;
  height: 48px;
}

#logout-btn {
  margin: 10px 1px;
}

#main {
  padding-top: 60px;
}

.header {
	margin-bottom:10px;
}

.topic-pic {
	max-width:180px;
}

.panel-title {
  font-weight: bold;
}

.dropdown-menu {
  text-shadow: none;
}

.dropdown-menu button[type=submit] {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dropdown-menu > li button {
  width: 100%;
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}

.dropdown-menu > li button:hover,
.dropdown-menu > li button:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #428bca;
}

.dropdown-menu > li button:hover,
.dropdown-menu > li button:focus {
  background-color: #357ebd;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#428bca), to(#357ebd));
  background-image: -webkit-linear-gradient(top, #428bca, 0%, #357ebd, 100%);
  background-image: -moz-linear-gradient(top, #428bca 0%, #357ebd 100%);
  background-image: linear-gradient(to bottom, #428bca 0%, #357ebd 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff357ebd', GradientType=0);
}

.dropdown-menu > li > a {
  text-align: center;
}