body {
  padding-top: 20px;
}

a:hover {
  text-decoration: none;
}

.footer {
  border-top: 1px solid #eee;
  padding: 20px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
}

#logo {
	width: 48px;
  height: 48px;
}

#vip-btn, #logout-btn {
  margin: 10px 1px;
}

#main {
  padding-top: 60px;
}

.header {
	margin-bottom:10px;
}

.topic-pic {
	max-width:180px;
}

.panel-title {
  font-weight: bold;
}